<div class="post-authors">
  <div class="post-primary-avatar">
    <img src="{{primary_author.profile_image}}" alt="author-avatar" />
  </div>
  <div class="post-authors-names">
    {{> post-authors-names}}
  </div>
</div>
