
<div class="ss search">
	<div class="header inner-wide">
		<div class="search-icon">
			{{> icons/search}}
		</div>
		<input id="ghost-search-field" placeholder="{{t "Search"}}...">
		<button id="search-close">
			{{> icons/close}}
		</button>
	</div>
	<div id="ghost-search-results" class="ghost-results">
	</div>
</div>
