input,
select {
  border: 1px solid var(--color-border);
	height: 36px;
	padding: 10px;
	padding-top: 14px;
	font-family: "cooper hewitt";
	border-radius: 3px;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  border: 1px solid var(--color-border);
	padding: 10px;
	padding-top: 14px;
	font-family: "cooper hewitt";
	border-radius: 3px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.button {
  color: #fff;
  background: var(--color-button);
  height: 34px;
  border: 1px solid var(--color-button-border);
  display: inline-block;
  border-radius: var(--radius);
  padding: 11px 12px;
  font-size: 1rem;
}
button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
.button:hover,
.button:focus,
.button:active {
  color: #fff;
  outline: 0;
  background: var(--color-button-hover);
}

a.button {
  color: #fff;
  background: var(--color-button);
  margin-top: 1rem;
  padding: 11px 12px;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
}

a.button:hover {
  background: var(--color-button-hover);
}

form[data-members-form] .form-group {
  display: flex;
}

form[data-members-form] .subscribe-email {
  flex: 1 1 auto;
  height: 34px;
  display: block;
}

form[data-members-form] .button {
  margin-left: 10px;
  position: relative;
}

form[data-members-form] .button-content {
  white-space: nowrap;
}

form[data-members-form] .button-loader {
  display: none;
}

form[data-members-form] .message {
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 1.66667;
}

form[data-members-form] .message-signup-success,
form[data-members-form] .message-signin-success,
form[data-members-form] .message-invalid,
form[data-members-form] .message-error {
  display: none;
}

form[data-members-form] .message-signup-success,
form[data-members-form] .message-signin-success {
  color: var(--color-success);
}

form[data-members-form] .message-invalid,
form[data-members-form] .message-error {
  color: var(--color-error);
}

form[data-members-form].loading .button-content {
  visibility: hidden;
}

form[data-members-form].loading .button-loader {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  display: block;
  margin-top: -15px;
  margin-left: -17.5px;
  position: absolute;
}

form[data-members-form].loading .button-loader svg {
  height: 30px;
}

form[data-members-form].invalid .message-invalid,
form[data-members-form].error .message-error {
  display: block;
}

form[data-members-form].success.signup-form .message-signup-success,
form[data-members-form].success.subscribe-form .message-signup-success {
  display: block;
}

form[data-members-form].success.signin-form .message-signin-success {
  display: block;
}

.special-template form[data-members-form] {
  position: relative;
}

.special-template form[data-members-form] .message {
  margin-top: 20px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.special-template form[data-members-form].loading .message-note,
.special-template form[data-members-form].invalid .message-note,
.special-template form[data-members-form].error .message-note,
.special-template form[data-members-form].success .message-note {
  display: none;
}

.contact-form > * + * {
  margin-top: 0.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input.button {
  margin-top: 1rem;
}

.widget-form .form-group .button {
    margin-left: 0;
    margin-right: 0;
}

.tnewsletter .form-group .button {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 480px) {
  form[data-members-form] .form-group {
    flex-direction: column;
  }
  form[data-members-form] .button {
    align-self: flex-start;
    flex: 0 1 auto;
    margin: 15px 0 0;
    width: 100%;
  }
}
